<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I am a Master student in Purdue, majored in Computer Engineering, and Industrial Engineering as a dual major, graduating in December 2016. Also, I have a Bachelor degree in Computer Science in Zhejiang University in China. I am looking for a full-time software engineer position.</p>
    <!-- You can <a href="" target="_blank">download my one page pdf resume here</a>. -->
</div><!--//summary-->
</section><!--//section-->