<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer, Intern</h3>
                            <div class="time">2015 Summer</div>
                        </div><!--//upper-row-->
                        <div class="company">
                            China Academy of Information and Communications Technology  <span style="float:right;">Beijing, China</span>
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                            <li>
                            Redesigned and developed an efficient multi-thread web crawler based on BFS searching algorithm to collect active domain names from public network and integrate the related information into local storage.
                            </li>
                            <li>
                            Fixed bugs and improved the performance by substituting the original URL duplicate filter with the Bloom filter, and solved the memory overflow problem by managing the URL queue on hard disk.
                            </li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">
                            State Key Lab of CAD&amp;CG, Zhejiang University  <span style="float:right;">HangZhou, China</span>
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                            <li>
                            Designed and developed a visual reasoning framework based on Bayesian networks to help people understand and explore heterogeneous geospatial data intuitively and interactively.
                            </li>
                            <li>
                            Collected, filtered, and discretized the dataset, and trained the Bayesian network using K2 algorithm.
                            </li>
                            <li>
                            Visualized the Bayesian DAG layout dynamically, and illustrated the relationship between any two combinations of variables using interactive pixel maps and tree maps.
                            </li>
                        </ul>
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                
            </section><!--//section-->