<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>The following notable projects were done during my school time, ordered by timeline. The projects went from low to high levels including hardware, assembly, operating system, database, network, and web applications. Some of them are set up on Github and you can feel free to check out the sources. All suggestions and comments are also welcomed.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/wtyjack/tiny-httpd">Tiny Httpd</a></span> - <span class="project-tagline">Built a functional http server and client that implemented HTTP 1.0/1.1 communications based on POSIX thread and socket. Currently support GET only. (C, Socket)</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/wtyjack/map-reduce-simulation">Map Reduce Simulation</a></span>  - <span class="project-tagline">Programmed and simulated a map reduce word count application that parallelly executed on multiple machines, and benchmarked the performance on various number of nodes and cores. (C++, OpenMP, MPI)</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/wtyjack/SE-Payment" target="_blank">SE Payment</a></span> - 
                    <span class="project-tagline">Designed, modeled, developed, and tested a secured online transaction system based on a PHP MVC web framework. I was responsible for back-end development of shopping model, and some front-end design. (PHP, JavaScript, MySQL) </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">NOTSql</a></span> - <span class="project-tagline">Designed and built a simplified relational SQL database from scratch. It supported common SQL CRUD operations, data buffering, and indexing based on B+ tree. (C++)</span>
                    <p>* NOT stands for Nine One Two (912), which is the room number of my college domitory :p</p>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Simple Interactive CLI System based on Self-implement MIPS Pipelined CPU </a></span> - <span class="project-tagline">Implemented a basic computer system on FPGA from scratch. The system mainly included a pipelined CPU, RAM, VRAM, VGA driver, and PS/2 driver implemented by Verilog, and could run some customized commands programmed by MIPS. (Verilog HDL, MIPS) </span>
                </div><!--//item-->
            </section><!--//section-->