


<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-university"></i>Education</h2>
                
                <div class="item">
                	<div class="meta">
                		<div class="upper-row">
                    		<h4 class="degree">M.S.E. in Computer Engineering</h4>
                            <h4 class="degree">M.S.E. in Industrial Engineering</h4>
                    		<div class="time">2014 - 2016</div>
                    	</div>
    				<div class="university">Purdue University  <span style="float:right;">West Lafayette, United State</span></div>
    				
    				</div>
                    <div class="details">
                        <p><b>Coursework:</b> Data Structure, Algorithm, Operating System, Parallel Programming, Information Retrieval, Pattern Recognition, Linear Programming, Quality Control, Facility Design.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                
                <div class="item">
                	<div class="meta">
                		<div class="upper-row">
                    		<h4 class="degree">B.E. in Computer Science</h4>
                    		<div class="time">2010 - 2014</div>
                    	</div>
    				<div class="university">Zhejiang University  <span style="float:right;">HangZhou, China</span></div>
    				
    				</div>
                    <div class="details">
                        <p><b>Coursework:</b> Data Structure, Algorithm, Operating System, Database, Networking, Computer Architecture, Compiler, Web Application, Software Engineering.</p>   
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->